<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-mapper.dtd">
<mapper namespace = "com.cctv.mapper.RegionCCTVMapper">
    <select id = "selectRegionCCTVStatus" resultType = "com.cctv.vo.CctvInfoVO">
        select * from cctv_info WHERE institutionNm like #{region}
    </select>
</mapper>